<template>

  {{{ form }}}
</template>

<script>

  export default {

    methods: {

      submit: function(e) {

        this.$http[ e.target.method ]( e.target.action, (data, err) => {
          console.log(data, err);
        });

      }

    },

    data() {

    },

    ready() {

    }

  }

</script>

<style>

</style>
